<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="app.core.mapper.CompetitionMapper" >
  <resultMap id="BaseResultMap" type="app.core.po.Competition" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="JSKCBH" property="jskcbh" jdbcType="VARCHAR" />
    <result column="JSZT" property="jszt" jdbcType="VARCHAR" />
    <result column="JSFS" property="jsfs" jdbcType="VARCHAR" />
    <result column="JSMS" property="jsms" jdbcType="VARCHAR" />
    <result column="JSJL" property="jsjl" jdbcType="VARCHAR" />
    <result column="JSGZ" property="jsgz" jdbcType="VARCHAR" />
    <result column="JSRS" property="jsrs" jdbcType="INTEGER" />
    <result column="JSKSSJ" property="jskssj" jdbcType="TIMESTAMP" />
    <result column="JSJSSJ" property="jsjssj" jdbcType="TIMESTAMP" />
    <result column="JSSTBH" property="jsstbh" jdbcType="VARCHAR" />
    <result column="JSSTNR" property="jsstnr" jdbcType="VARCHAR" />
    <result column="JSSTDA" property="jsstda" jdbcType="VARCHAR" />
    <result column="FZRGH" property="fzrgh" jdbcType="VARCHAR" />
    <result column="JSSH" property="jssh" jdbcType="VARCHAR" />
    <result column="BXZD_1" property="bxzd1" jdbcType="VARCHAR" />
    <result column="BXZD_2" property="bxzd2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, JSKCBH, JSZT, JSFS, JSMS, JSJL, JSGZ, JSRS, JSKSSJ, JSJSSJ, JSSTBH, JSSTNR, JSSTDA, 
    FZRGH, JSSH, BXZD_1, BXZD_2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="app.core.po.CompetitionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from competition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from competition
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from competition
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="app.core.po.CompetitionExample" >
    delete from competition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="app.core.po.Competition" >
    insert into competition (ID, JSKCBH, JSZT, 
      JSFS, JSMS, JSJL, JSGZ, 
      JSRS, JSKSSJ, JSJSSJ, 
      JSSTBH, JSSTNR, JSSTDA, 
      FZRGH, JSSH, BXZD_1, 
      BXZD_2)
    values (#{id,jdbcType=INTEGER}, #{jskcbh,jdbcType=VARCHAR}, #{jszt,jdbcType=VARCHAR}, 
      #{jsfs,jdbcType=VARCHAR}, #{jsms,jdbcType=VARCHAR}, #{jsjl,jdbcType=VARCHAR}, #{jsgz,jdbcType=VARCHAR}, 
      #{jsrs,jdbcType=INTEGER}, #{jskssj,jdbcType=TIMESTAMP}, #{jsjssj,jdbcType=TIMESTAMP}, 
      #{jsstbh,jdbcType=VARCHAR}, #{jsstnr,jdbcType=VARCHAR}, #{jsstda,jdbcType=VARCHAR}, 
      #{fzrgh,jdbcType=VARCHAR}, #{jssh,jdbcType=VARCHAR}, #{bxzd1,jdbcType=VARCHAR}, 
      #{bxzd2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="app.core.po.Competition" >
    insert into competition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="jskcbh != null" >
        JSKCBH,
      </if>
      <if test="jszt != null" >
        JSZT,
      </if>
      <if test="jsfs != null" >
        JSFS,
      </if>
      <if test="jsms != null" >
        JSMS,
      </if>
      <if test="jsjl != null" >
        JSJL,
      </if>
      <if test="jsgz != null" >
        JSGZ,
      </if>
      <if test="jsrs != null" >
        JSRS,
      </if>
      <if test="jskssj != null" >
        JSKSSJ,
      </if>
      <if test="jsjssj != null" >
        JSJSSJ,
      </if>
      <if test="jsstbh != null" >
        JSSTBH,
      </if>
      <if test="jsstnr != null" >
        JSSTNR,
      </if>
      <if test="jsstda != null" >
        JSSTDA,
      </if>
      <if test="fzrgh != null" >
        FZRGH,
      </if>
      <if test="jssh != null" >
        JSSH,
      </if>
      <if test="bxzd1 != null" >
        BXZD_1,
      </if>
      <if test="bxzd2 != null" >
        BXZD_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jskcbh != null" >
        #{jskcbh,jdbcType=VARCHAR},
      </if>
      <if test="jszt != null" >
        #{jszt,jdbcType=VARCHAR},
      </if>
      <if test="jsfs != null" >
        #{jsfs,jdbcType=VARCHAR},
      </if>
      <if test="jsms != null" >
        #{jsms,jdbcType=VARCHAR},
      </if>
      <if test="jsjl != null" >
        #{jsjl,jdbcType=VARCHAR},
      </if>
      <if test="jsgz != null" >
        #{jsgz,jdbcType=VARCHAR},
      </if>
      <if test="jsrs != null" >
        #{jsrs,jdbcType=INTEGER},
      </if>
      <if test="jskssj != null" >
        #{jskssj,jdbcType=TIMESTAMP},
      </if>
      <if test="jsjssj != null" >
        #{jsjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="jsstbh != null" >
        #{jsstbh,jdbcType=VARCHAR},
      </if>
      <if test="jsstnr != null" >
        #{jsstnr,jdbcType=VARCHAR},
      </if>
      <if test="jsstda != null" >
        #{jsstda,jdbcType=VARCHAR},
      </if>
      <if test="fzrgh != null" >
        #{fzrgh,jdbcType=VARCHAR},
      </if>
      <if test="jssh != null" >
        #{jssh,jdbcType=VARCHAR},
      </if>
      <if test="bxzd1 != null" >
        #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        #{bxzd2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="app.core.po.CompetitionExample" resultType="java.lang.Integer" >
    select count(*) from competition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update competition
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jskcbh != null" >
        JSKCBH = #{record.jskcbh,jdbcType=VARCHAR},
      </if>
      <if test="record.jszt != null" >
        JSZT = #{record.jszt,jdbcType=VARCHAR},
      </if>
      <if test="record.jsfs != null" >
        JSFS = #{record.jsfs,jdbcType=VARCHAR},
      </if>
      <if test="record.jsms != null" >
        JSMS = #{record.jsms,jdbcType=VARCHAR},
      </if>
      <if test="record.jsjl != null" >
        JSJL = #{record.jsjl,jdbcType=VARCHAR},
      </if>
      <if test="record.jsgz != null" >
        JSGZ = #{record.jsgz,jdbcType=VARCHAR},
      </if>
      <if test="record.jsrs != null" >
        JSRS = #{record.jsrs,jdbcType=INTEGER},
      </if>
      <if test="record.jskssj != null" >
        JSKSSJ = #{record.jskssj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jsjssj != null" >
        JSJSSJ = #{record.jsjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jsstbh != null" >
        JSSTBH = #{record.jsstbh,jdbcType=VARCHAR},
      </if>
      <if test="record.jsstnr != null" >
        JSSTNR = #{record.jsstnr,jdbcType=VARCHAR},
      </if>
      <if test="record.jsstda != null" >
        JSSTDA = #{record.jsstda,jdbcType=VARCHAR},
      </if>
      <if test="record.fzrgh != null" >
        FZRGH = #{record.fzrgh,jdbcType=VARCHAR},
      </if>
      <if test="record.jssh != null" >
        JSSH = #{record.jssh,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd1 != null" >
        BXZD_1 = #{record.bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd2 != null" >
        BXZD_2 = #{record.bxzd2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update competition
    set ID = #{record.id,jdbcType=INTEGER},
      JSKCBH = #{record.jskcbh,jdbcType=VARCHAR},
      JSZT = #{record.jszt,jdbcType=VARCHAR},
      JSFS = #{record.jsfs,jdbcType=VARCHAR},
      JSMS = #{record.jsms,jdbcType=VARCHAR},
      JSJL = #{record.jsjl,jdbcType=VARCHAR},
      JSGZ = #{record.jsgz,jdbcType=VARCHAR},
      JSRS = #{record.jsrs,jdbcType=INTEGER},
      JSKSSJ = #{record.jskssj,jdbcType=TIMESTAMP},
      JSJSSJ = #{record.jsjssj,jdbcType=TIMESTAMP},
      JSSTBH = #{record.jsstbh,jdbcType=VARCHAR},
      JSSTNR = #{record.jsstnr,jdbcType=VARCHAR},
      JSSTDA = #{record.jsstda,jdbcType=VARCHAR},
      FZRGH = #{record.fzrgh,jdbcType=VARCHAR},
      JSSH = #{record.jssh,jdbcType=VARCHAR},
      BXZD_1 = #{record.bxzd1,jdbcType=VARCHAR},
      BXZD_2 = #{record.bxzd2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="app.core.po.Competition" >
    update competition
    <set >
      <if test="jskcbh != null" >
        JSKCBH = #{jskcbh,jdbcType=VARCHAR},
      </if>
      <if test="jszt != null" >
        JSZT = #{jszt,jdbcType=VARCHAR},
      </if>
      <if test="jsfs != null" >
        JSFS = #{jsfs,jdbcType=VARCHAR},
      </if>
      <if test="jsms != null" >
        JSMS = #{jsms,jdbcType=VARCHAR},
      </if>
      <if test="jsjl != null" >
        JSJL = #{jsjl,jdbcType=VARCHAR},
      </if>
      <if test="jsgz != null" >
        JSGZ = #{jsgz,jdbcType=VARCHAR},
      </if>
      <if test="jsrs != null" >
        JSRS = #{jsrs,jdbcType=INTEGER},
      </if>
      <if test="jskssj != null" >
        JSKSSJ = #{jskssj,jdbcType=TIMESTAMP},
      </if>
      <if test="jsjssj != null" >
        JSJSSJ = #{jsjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="jsstbh != null" >
        JSSTBH = #{jsstbh,jdbcType=VARCHAR},
      </if>
      <if test="jsstnr != null" >
        JSSTNR = #{jsstnr,jdbcType=VARCHAR},
      </if>
      <if test="jsstda != null" >
        JSSTDA = #{jsstda,jdbcType=VARCHAR},
      </if>
      <if test="fzrgh != null" >
        FZRGH = #{fzrgh,jdbcType=VARCHAR},
      </if>
      <if test="jssh != null" >
        JSSH = #{jssh,jdbcType=VARCHAR},
      </if>
      <if test="bxzd1 != null" >
        BXZD_1 = #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        BXZD_2 = #{bxzd2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="app.core.po.Competition" >
    update competition
    set JSKCBH = #{jskcbh,jdbcType=VARCHAR},
      JSZT = #{jszt,jdbcType=VARCHAR},
      JSFS = #{jsfs,jdbcType=VARCHAR},
      JSMS = #{jsms,jdbcType=VARCHAR},
      JSJL = #{jsjl,jdbcType=VARCHAR},
      JSGZ = #{jsgz,jdbcType=VARCHAR},
      JSRS = #{jsrs,jdbcType=INTEGER},
      JSKSSJ = #{jskssj,jdbcType=TIMESTAMP},
      JSJSSJ = #{jsjssj,jdbcType=TIMESTAMP},
      JSSTBH = #{jsstbh,jdbcType=VARCHAR},
      JSSTNR = #{jsstnr,jdbcType=VARCHAR},
      JSSTDA = #{jsstda,jdbcType=VARCHAR},
      FZRGH = #{fzrgh,jdbcType=VARCHAR},
      JSSH = #{jssh,jdbcType=VARCHAR},
      BXZD_1 = #{bxzd1,jdbcType=VARCHAR},
      BXZD_2 = #{bxzd2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>