<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="app.core.mapper.CompetitionQuestionMapper" >
  <resultMap id="BaseResultMap" type="app.core.po.CompetitionQuestion" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="STBH" property="stbh" jdbcType="VARCHAR" />
    <result column="JSBH" property="jsbh" jdbcType="VARCHAR" />
    <result column="JSZT" property="jszt" jdbcType="VARCHAR" />
    <result column="JSTX" property="jstx" jdbcType="VARCHAR" />
    <result column="TMNR" property="tmnr" jdbcType="VARCHAR" />
    <result column="TMDA" property="tmda" jdbcType="VARCHAR" />
    <result column="TMJX" property="tmjx" jdbcType="VARCHAR" />
    <result column="BXZD_1" property="bxzd1" jdbcType="VARCHAR" />
    <result column="BXZD_2" property="bxzd2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, STBH, JSBH, JSZT, JSTX, TMNR, TMDA, TMJX, BXZD_1, BXZD_2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="app.core.po.CompetitionQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from competition_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from competition_question
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from competition_question
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="app.core.po.CompetitionQuestionExample" >
    delete from competition_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="app.core.po.CompetitionQuestion" >
    insert into competition_question (ID, STBH, JSBH, 
      JSZT, JSTX, TMNR, TMDA, 
      TMJX, BXZD_1, BXZD_2)
    values (#{id,jdbcType=INTEGER}, #{stbh,jdbcType=VARCHAR}, #{jsbh,jdbcType=VARCHAR}, 
      #{jszt,jdbcType=VARCHAR}, #{jstx,jdbcType=VARCHAR}, #{tmnr,jdbcType=VARCHAR}, #{tmda,jdbcType=VARCHAR}, 
      #{tmjx,jdbcType=VARCHAR}, #{bxzd1,jdbcType=VARCHAR}, #{bxzd2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="app.core.po.CompetitionQuestion" >
    insert into competition_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="stbh != null" >
        STBH,
      </if>
      <if test="jsbh != null" >
        JSBH,
      </if>
      <if test="jszt != null" >
        JSZT,
      </if>
      <if test="jstx != null" >
        JSTX,
      </if>
      <if test="tmnr != null" >
        TMNR,
      </if>
      <if test="tmda != null" >
        TMDA,
      </if>
      <if test="tmjx != null" >
        TMJX,
      </if>
      <if test="bxzd1 != null" >
        BXZD_1,
      </if>
      <if test="bxzd2 != null" >
        BXZD_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stbh != null" >
        #{stbh,jdbcType=VARCHAR},
      </if>
      <if test="jsbh != null" >
        #{jsbh,jdbcType=VARCHAR},
      </if>
      <if test="jszt != null" >
        #{jszt,jdbcType=VARCHAR},
      </if>
      <if test="jstx != null" >
        #{jstx,jdbcType=VARCHAR},
      </if>
      <if test="tmnr != null" >
        #{tmnr,jdbcType=VARCHAR},
      </if>
      <if test="tmda != null" >
        #{tmda,jdbcType=VARCHAR},
      </if>
      <if test="tmjx != null" >
        #{tmjx,jdbcType=VARCHAR},
      </if>
      <if test="bxzd1 != null" >
        #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        #{bxzd2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="app.core.po.CompetitionQuestionExample" resultType="java.lang.Integer" >
    select count(*) from competition_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update competition_question
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stbh != null" >
        STBH = #{record.stbh,jdbcType=VARCHAR},
      </if>
      <if test="record.jsbh != null" >
        JSBH = #{record.jsbh,jdbcType=VARCHAR},
      </if>
      <if test="record.jszt != null" >
        JSZT = #{record.jszt,jdbcType=VARCHAR},
      </if>
      <if test="record.jstx != null" >
        JSTX = #{record.jstx,jdbcType=VARCHAR},
      </if>
      <if test="record.tmnr != null" >
        TMNR = #{record.tmnr,jdbcType=VARCHAR},
      </if>
      <if test="record.tmda != null" >
        TMDA = #{record.tmda,jdbcType=VARCHAR},
      </if>
      <if test="record.tmjx != null" >
        TMJX = #{record.tmjx,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd1 != null" >
        BXZD_1 = #{record.bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd2 != null" >
        BXZD_2 = #{record.bxzd2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update competition_question
    set ID = #{record.id,jdbcType=INTEGER},
      STBH = #{record.stbh,jdbcType=VARCHAR},
      JSBH = #{record.jsbh,jdbcType=VARCHAR},
      JSZT = #{record.jszt,jdbcType=VARCHAR},
      JSTX = #{record.jstx,jdbcType=VARCHAR},
      TMNR = #{record.tmnr,jdbcType=VARCHAR},
      TMDA = #{record.tmda,jdbcType=VARCHAR},
      TMJX = #{record.tmjx,jdbcType=VARCHAR},
      BXZD_1 = #{record.bxzd1,jdbcType=VARCHAR},
      BXZD_2 = #{record.bxzd2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="app.core.po.CompetitionQuestion" >
    update competition_question
    <set >
      <if test="stbh != null" >
        STBH = #{stbh,jdbcType=VARCHAR},
      </if>
      <if test="jsbh != null" >
        JSBH = #{jsbh,jdbcType=VARCHAR},
      </if>
      <if test="jszt != null" >
        JSZT = #{jszt,jdbcType=VARCHAR},
      </if>
      <if test="jstx != null" >
        JSTX = #{jstx,jdbcType=VARCHAR},
      </if>
      <if test="tmnr != null" >
        TMNR = #{tmnr,jdbcType=VARCHAR},
      </if>
      <if test="tmda != null" >
        TMDA = #{tmda,jdbcType=VARCHAR},
      </if>
      <if test="tmjx != null" >
        TMJX = #{tmjx,jdbcType=VARCHAR},
      </if>
      <if test="bxzd1 != null" >
        BXZD_1 = #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        BXZD_2 = #{bxzd2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="app.core.po.CompetitionQuestion" >
    update competition_question
    set STBH = #{stbh,jdbcType=VARCHAR},
      JSBH = #{jsbh,jdbcType=VARCHAR},
      JSZT = #{jszt,jdbcType=VARCHAR},
      JSTX = #{jstx,jdbcType=VARCHAR},
      TMNR = #{tmnr,jdbcType=VARCHAR},
      TMDA = #{tmda,jdbcType=VARCHAR},
      TMJX = #{tmjx,jdbcType=VARCHAR},
      BXZD_1 = #{bxzd1,jdbcType=VARCHAR},
      BXZD_2 = #{bxzd2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>