<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="app.core.mapper.CourseFeedbackAllMapper" >
  <resultMap id="BaseResultMap" type="app.core.po.CourseFeedbackAll" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="KCBH" property="kcbh" jdbcType="VARCHAR" />
    <result column="KCMC" property="kcmc" jdbcType="VARCHAR" />
    <result column="KCJS" property="kcjs" jdbcType="VARCHAR" />
    <result column="JKSJ" property="jksj" jdbcType="TIMESTAMP" />
    <result column="YGZH" property="ygzh" jdbcType="VARCHAR" />
    <result column="YGMC" property="ygmc" jdbcType="VARCHAR" />
    <result column="PJFS" property="pjfs" jdbcType="DOUBLE" />
    <result column="BXZD1" property="bxzd1" jdbcType="VARCHAR" />
    <result column="BXZD2" property="bxzd2" jdbcType="VARCHAR" />
    <result column="BXZD3" property="bxzd3" jdbcType="VARCHAR" />
    <result column="BXZD4" property="bxzd4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, KCBH, KCMC, KCJS, JKSJ, YGZH, YGMC, PJFS, BXZD1, BXZD2, BXZD3, BXZD4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="app.core.po.CourseFeedbackAllExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_feedback_all
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_feedback_all
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_feedback_all
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="app.core.po.CourseFeedbackAllExample" >
    delete from course_feedback_all
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="app.core.po.CourseFeedbackAll" >
    insert into course_feedback_all (ID, KCBH, KCMC, 
      KCJS, JKSJ, YGZH, 
      YGMC, PJFS, BXZD1, BXZD2, 
      BXZD3, BXZD4)
    values (#{id,jdbcType=INTEGER}, #{kcbh,jdbcType=VARCHAR}, #{kcmc,jdbcType=VARCHAR}, 
      #{kcjs,jdbcType=VARCHAR}, #{jksj,jdbcType=TIMESTAMP}, #{ygzh,jdbcType=VARCHAR}, 
      #{ygmc,jdbcType=VARCHAR}, #{pjfs,jdbcType=DOUBLE}, #{bxzd1,jdbcType=VARCHAR}, #{bxzd2,jdbcType=VARCHAR}, 
      #{bxzd3,jdbcType=VARCHAR}, #{bxzd4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="app.core.po.CourseFeedbackAll" >
    insert into course_feedback_all
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="kcbh != null" >
        KCBH,
      </if>
      <if test="kcmc != null" >
        KCMC,
      </if>
      <if test="kcjs != null" >
        KCJS,
      </if>
      <if test="jksj != null" >
        JKSJ,
      </if>
      <if test="ygzh != null" >
        YGZH,
      </if>
      <if test="ygmc != null" >
        YGMC,
      </if>
      <if test="pjfs != null" >
        PJFS,
      </if>
      <if test="bxzd1 != null" >
        BXZD1,
      </if>
      <if test="bxzd2 != null" >
        BXZD2,
      </if>
      <if test="bxzd3 != null" >
        BXZD3,
      </if>
      <if test="bxzd4 != null" >
        BXZD4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kcbh != null" >
        #{kcbh,jdbcType=VARCHAR},
      </if>
      <if test="kcmc != null" >
        #{kcmc,jdbcType=VARCHAR},
      </if>
      <if test="kcjs != null" >
        #{kcjs,jdbcType=VARCHAR},
      </if>
      <if test="jksj != null" >
        #{jksj,jdbcType=TIMESTAMP},
      </if>
      <if test="ygzh != null" >
        #{ygzh,jdbcType=VARCHAR},
      </if>
      <if test="ygmc != null" >
        #{ygmc,jdbcType=VARCHAR},
      </if>
      <if test="pjfs != null" >
        #{pjfs,jdbcType=DOUBLE},
      </if>
      <if test="bxzd1 != null" >
        #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        #{bxzd2,jdbcType=VARCHAR},
      </if>
      <if test="bxzd3 != null" >
        #{bxzd3,jdbcType=VARCHAR},
      </if>
      <if test="bxzd4 != null" >
        #{bxzd4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="app.core.po.CourseFeedbackAllExample" resultType="java.lang.Integer" >
    select count(*) from course_feedback_all
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course_feedback_all
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.kcbh != null" >
        KCBH = #{record.kcbh,jdbcType=VARCHAR},
      </if>
      <if test="record.kcmc != null" >
        KCMC = #{record.kcmc,jdbcType=VARCHAR},
      </if>
      <if test="record.kcjs != null" >
        KCJS = #{record.kcjs,jdbcType=VARCHAR},
      </if>
      <if test="record.jksj != null" >
        JKSJ = #{record.jksj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ygzh != null" >
        YGZH = #{record.ygzh,jdbcType=VARCHAR},
      </if>
      <if test="record.ygmc != null" >
        YGMC = #{record.ygmc,jdbcType=VARCHAR},
      </if>
      <if test="record.pjfs != null" >
        PJFS = #{record.pjfs,jdbcType=DOUBLE},
      </if>
      <if test="record.bxzd1 != null" >
        BXZD1 = #{record.bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd2 != null" >
        BXZD2 = #{record.bxzd2,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd3 != null" >
        BXZD3 = #{record.bxzd3,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd4 != null" >
        BXZD4 = #{record.bxzd4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course_feedback_all
    set ID = #{record.id,jdbcType=INTEGER},
      KCBH = #{record.kcbh,jdbcType=VARCHAR},
      KCMC = #{record.kcmc,jdbcType=VARCHAR},
      KCJS = #{record.kcjs,jdbcType=VARCHAR},
      JKSJ = #{record.jksj,jdbcType=TIMESTAMP},
      YGZH = #{record.ygzh,jdbcType=VARCHAR},
      YGMC = #{record.ygmc,jdbcType=VARCHAR},
      PJFS = #{record.pjfs,jdbcType=DOUBLE},
      BXZD1 = #{record.bxzd1,jdbcType=VARCHAR},
      BXZD2 = #{record.bxzd2,jdbcType=VARCHAR},
      BXZD3 = #{record.bxzd3,jdbcType=VARCHAR},
      BXZD4 = #{record.bxzd4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="app.core.po.CourseFeedbackAll" >
    update course_feedback_all
    <set >
      <if test="kcbh != null" >
        KCBH = #{kcbh,jdbcType=VARCHAR},
      </if>
      <if test="kcmc != null" >
        KCMC = #{kcmc,jdbcType=VARCHAR},
      </if>
      <if test="kcjs != null" >
        KCJS = #{kcjs,jdbcType=VARCHAR},
      </if>
      <if test="jksj != null" >
        JKSJ = #{jksj,jdbcType=TIMESTAMP},
      </if>
      <if test="ygzh != null" >
        YGZH = #{ygzh,jdbcType=VARCHAR},
      </if>
      <if test="ygmc != null" >
        YGMC = #{ygmc,jdbcType=VARCHAR},
      </if>
      <if test="pjfs != null" >
        PJFS = #{pjfs,jdbcType=DOUBLE},
      </if>
      <if test="bxzd1 != null" >
        BXZD1 = #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        BXZD2 = #{bxzd2,jdbcType=VARCHAR},
      </if>
      <if test="bxzd3 != null" >
        BXZD3 = #{bxzd3,jdbcType=VARCHAR},
      </if>
      <if test="bxzd4 != null" >
        BXZD4 = #{bxzd4,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="app.core.po.CourseFeedbackAll" >
    update course_feedback_all
    set KCBH = #{kcbh,jdbcType=VARCHAR},
      KCMC = #{kcmc,jdbcType=VARCHAR},
      KCJS = #{kcjs,jdbcType=VARCHAR},
      JKSJ = #{jksj,jdbcType=TIMESTAMP},
      YGZH = #{ygzh,jdbcType=VARCHAR},
      YGMC = #{ygmc,jdbcType=VARCHAR},
      PJFS = #{pjfs,jdbcType=DOUBLE},
      BXZD1 = #{bxzd1,jdbcType=VARCHAR},
      BXZD2 = #{bxzd2,jdbcType=VARCHAR},
      BXZD3 = #{bxzd3,jdbcType=VARCHAR},
      BXZD4 = #{bxzd4,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectFeedbacks" parameterType="app.core.po.CourseFeedbackAll" resultType="app.core.po.CourseFeedbackAll" >
    select * from course_feedback_all where ygzh=#{ygzh}
  </select>
   <select id="selectfback" parameterType="app.core.po.CourseFeedbackAll" resultType="app.core.po.CourseFeedbackAll" >
    select * from course_feedback_all where ygzh=#{ygzh} and kcbh=#{kcbh}
  </select>
  
</mapper>