<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="app.core.mapper.ManagerMapper" >
  <resultMap id="BaseResultMap" type="app.core.po.Manager" >
    <id column="GLYZH" property="glyzh" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="GLYMM" property="glymm" jdbcType="VARCHAR" />
    <result column="JSBS" property="jsbs" jdbcType="VARCHAR" />
    <result column="BXZD_1" property="bxzd_1" jdbcType="VARCHAR" />
    <result column="BXZD_2" property="bxzd_2" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 管理员 -->
  <select id="getAllManager" resultType="Manager">
  	select * from manager
  </select>
  
  <select id="findManager" resultType="Manager">
  	select * from manager 
  	<where>
  		<if test="id !=null ">
  			and ID = #{id}
  		</if>
  		<if test="glyzh !=null ">
  			and GLYZH = #{glyzh}
  		</if>
  	</where>
  </select>
  <update id="modifyManagerPassword" parameterType="Manager">
  	update manager set GLYMM = #{glymm} where GLYZH = #{glyzh}
  </update>
  <insert id="addManager" parameterType="Manager">
  	insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="glyzh != null" >
        GLYZH,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="glymm != null" >
        GLYMM,
      </if>
      <if test="jsbs != null" >
        JSBS,
      </if>
      <if test="bxzd_1 != null" >
        BXZD_1,
      </if>
      <if test="bxzd_2 != null" >
        BXZD_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="glyzh != null" >
        #{glyzh,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="glymm != null" >
        #{glymm,jdbcType=VARCHAR},
      </if>
      <if test="jsbs != null" >
        #{jsbs,jdbcType=VARCHAR},
      </if>
      <if test="bxzd_1 != null" >
        #{bxzd_1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd_2 != null" >
        #{bxzd_2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="removeManager" parameterType="String">
  	update manager set bxzd_1 = 0 where GLYZH = #{glyzh}
  </update>
  <update id="setupManager" parameterType="String">
  	update manager set bxzd_1 = 1 where GLYZH = #{glyzh}
  </update>
  <update id="updateManager" parameterType="Manager">
  	 update manager
    <set>
      <if test="id != null" >
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="glyzh != null" >
        GLYZH = #{glyzh,jdbcType=VARCHAR},
      </if>
      <if test="glymm != null" >
        GLYMM = #{glymm,jdbcType=VARCHAR},
      </if>
      <if test="jsbs != null" >
        JSBS = #{jsbs,jdbcType=VARCHAR},
      </if>
      <if test="bxzd_1 != null" >
        BXZD_1 = #{bxzd_1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd_2 != null" >
        BXZD_2 = #{bxzd_2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
    <!-- where GLYZH = #{glyzh,jdbcType=VARCHAR} -->
  </update>
  <!-- 管理员 -->
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GLYZH, ID, GLYMM, JSBS, BXZD_1, BXZD_2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="app.core.po.ManagerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where GLYZH = #{glyzh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from manager
    where GLYZH = #{glyzh,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="app.core.po.ManagerExample" >
    delete from manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="app.core.po.Manager" >
    insert into manager (GLYZH, ID, GLYMM, 
      JSBS, BXZD_1, BXZD_2)
    values (#{glyzh,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{glymm,jdbcType=VARCHAR}, 
      #{jsbs,jdbcType=VARCHAR}, #{bxzd1,jdbcType=VARCHAR}, #{bxzd2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="app.core.po.Manager" >
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="glyzh != null" >
        GLYZH,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="glymm != null" >
        GLYMM,
      </if>
      <if test="jsbs != null" >
        JSBS,
      </if>
      <if test="bxzd1 != null" >
        BXZD_1,
      </if>
      <if test="bxzd2 != null" >
        BXZD_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="glyzh != null" >
        #{glyzh,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="glymm != null" >
        #{glymm,jdbcType=VARCHAR},
      </if>
      <if test="jsbs != null" >
        #{jsbs,jdbcType=VARCHAR},
      </if>
      <if test="bxzd1 != null" >
        #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        #{bxzd2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="app.core.po.ManagerExample" resultType="java.lang.Integer" >
    select count(*) from manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update manager
    <set >
      <if test="record.glyzh != null" >
        GLYZH = #{record.glyzh,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.glymm != null" >
        GLYMM = #{record.glymm,jdbcType=VARCHAR},
      </if>
      <if test="record.jsbs != null" >
        JSBS = #{record.jsbs,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd1 != null" >
        BXZD_1 = #{record.bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="record.bxzd2 != null" >
        BXZD_2 = #{record.bxzd2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update manager
    set GLYZH = #{record.glyzh,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=INTEGER},
      GLYMM = #{record.glymm,jdbcType=VARCHAR},
      JSBS = #{record.jsbs,jdbcType=VARCHAR},
      BXZD_1 = #{record.bxzd1,jdbcType=VARCHAR},
      BXZD_2 = #{record.bxzd2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="app.core.po.Manager" >
    update manager
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="glymm != null" >
        GLYMM = #{glymm,jdbcType=VARCHAR},
      </if>
      <if test="jsbs != null" >
        JSBS = #{jsbs,jdbcType=VARCHAR},
      </if>
      <if test="bxzd1 != null" >
        BXZD_1 = #{bxzd1,jdbcType=VARCHAR},
      </if>
      <if test="bxzd2 != null" >
        BXZD_2 = #{bxzd2,jdbcType=VARCHAR},
      </if>
    </set>
    where GLYZH = #{glyzh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="app.core.po.Manager" >
    update manager
    set ID = #{id,jdbcType=INTEGER},
      GLYMM = #{glymm,jdbcType=VARCHAR},
      JSBS = #{jsbs,jdbcType=VARCHAR},
      BXZD_1 = #{bxzd1,jdbcType=VARCHAR},
      BXZD_2 = #{bxzd2,jdbcType=VARCHAR}
    where GLYZH = #{glyzh,jdbcType=VARCHAR}
  </update>
  <select id="selectUser" resultMap="BaseResultMap" parameterType="app.core.po.User" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where GLYZH = #{username} and GLYMM=#{password}
  </select>
  
  <select id="selectManager" resultMap="BaseResultMap" parameterType="app.core.po.Manager" >
    select * from manager
    where GLYZH = #{glyzh,jdbcType=VARCHAR} and GLYMM=#{glymm,jdbcType=VARCHAR}
  </select>
</mapper>